h1 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px gray;
}

h2 {
    text-align: right;
    letter-spacing: 10px;
    text-transform: capitalize;
    text-decoration-line: overline;
}

#paragrafo1 {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.8;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 5px;
}

#paragrafo2 {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
    letter-spacing: 2px;
}

#paragrafo3 {
    text-align: left;
    word-spacing: 8px;
    text-decoration-line: line-through;
    text-shadow: 1px 1px 3px lightgray;
}

